<div class="playlist-show-page">
  <div class="playlist-show-content">
    <div class="playlist-container">
      <div class="playlist-title-wrapper text-center mb-3" data-controller="marquee">
        <div class="song-info-scroll">
          <h1 class="playlist-title text-white d-inline-block m-0"><%= @crowd_pleaser_playlist.name %></h1>
        </div>
      </div>
      <div class="song-cards-list">
        <% @crowd_pleaser_playlist.songs.each do |song| %>
          <div class="song-card-browse">
            <div class="song-card-stack">
              <%= link_to song_lyrics_path(song),
                  data: { turbo_stream: true },
                  class: "song-card-under" do %>
                <span class="hint-left">tap to view lyrics</span>
                <span class="hint-right">tap + to add to karaoke session</span>
              <% end %>
              <div class="song-card"
                   data-controller="song-text"
                   data-action="click->song-text#toggle">
                <%= image_tag song.image_url, class: "song-card-image" %>
                <div class="song-card-info" data-song-text-target="info">
                  <span class="song-card-text" data-song-text-target="text"><%= song.name %></span>
                  <span class="song-card-text" data-song-text-target="text"><%= song.artist %></span>
                  <%= karaoke_availability_badges(song) %>
                </div>
                <div class="song-card-play"
                     data-controller="spotify-player"
                     data-spotify-player-uri-value="spotify:track:<%= song.spotify_id %>">
                  <button data-action="click->spotify-player#togglePlay"
                    data-spotify-player-target="button"
                    class="play-pause-btn">
                    <i class="fa-solid fa-play" data-spotify-player-target="icon"></i>
                  </button>
                  <div data-spotify-player-target="container" hidden></div>
                </div>
                <%= button_to playlist_playlist_songs_path(@playlist),
                    params: { playlist_song: { song_id: song.id } },
                    method: :post,
                    class: "add-to-queue-btn",
                    data: { turbo: false } do %>
                  <i class="fa-solid fa-plus"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= render "crowd_pleaser_footer", crowd_pleaser_playlist: @crowd_pleaser_playlist, playlist: @playlist %>
</div>
