<main class="flex-grow-1 d-flex flex-column overflow-hidden">
  <div class="container d-flex flex-column flex-grow-1 overflow-auto">
    <section class="content flex-grow-1">
      <div style="text-align: center;">
        <h1 class="text-start">Song Recommendations</h1>
      </div>
      <div class="scrolling-wrapper bg-transparent">
        <% @my_karaoke_recs.shuffle.each do |song|%>
          <div class="scrolling-card position-relative bg-transparent border border-0">
            <%= image_tag song.image_url, alt: song.name, class: "song-image position-absolute" %>
            <%= simple_form_for [@playlist, @playlist_song] do |f| %>
              <%= f.hidden_field :song_id, value: song.id %>
              <%= f.submit "+ #{song.name}", class: "add-button" %>
            <% end %>
          </div>
        <% end  %>
      </div>
      <div style="text-align: center;">
        <h1 class="text-start">Based on your Spotify</h1>
      </div>
      <div class="scrolling-wrapper bg-transparent">
        <% @spotify_songs_1.shuffle.each do |song|%>
          <div class="scrolling-card position-relative bg-transparent border border-0">
            <%= image_tag song.image_url, alt: song.name, class: "song-image position-absolute" %>
            <%= simple_form_for [@playlist, @playlist_song] do |f| %>
              <%= f.hidden_field :song_id, value: song.id %>
              <%= f.submit "+ #{song.name}", class: "add-button" %>
            <% end %>
          </div>
        <% end  %>
      </div>
      <div class="scrolling-wrapper bg-transparent mt-3">
        <% @spotify_songs_2.shuffle.each do |song|%>
          <div class="scrolling-card position-relative bg-transparent border border-0">
            <%= image_tag song.image_url, alt: song.name, class: "song-image position-absolute" %>
            <%= simple_form_for [@playlist, @playlist_song] do |f| %>
              <%= f.hidden_field :song_id, value: song.id %>
              <%= f.submit "+ #{song.name}", class: "add-button" %>
            <% end %>
          </div>
        <% end  %>
      </div>
    </section>
    <%= link_to "Surprise Me!",
      surprise_playlist_playlist_songs_path(@playlist),
      class: "btn btn-warning"
    %>
  </div>
</main>
