<h1>Add Song to Playlist</h1>

<%= form_with model: [@playlist, @playlist_song] do |f| %>

  <div class="field">
    <%= f.label :song_id %>
    <%= f.number_field :song_id %>
  </div>

  <div class="field">
    <%= f.label :position %>
    <%= f.number_field :position %>
  </div>

  <div class="actions">
    <%= f.submit "Add Song" %>
  </div>

<% end %>
