<turbo-frame id="playlist_content">
  <main>
    <div class="container">
      <h1>Based on queue</h1>
      <section class="content">
        <div class="scrolling-wrapper">
          <% @songs.each do |song|%>
            <div class="card">
              <h2> <%= song.name %></h2>
              <%= simple_form_for [@playlist, @playlist_song] do |f| %>
                <%= f.hidden_field :song_id, value: song.id %>
                <%= f.submit %>
              <% end %>
            </div>
          <% end  %>
        </div>
        <h1>Based on Spotify library</h1>
        <div class="scrolling-wrapper">
          <% @songs.each do |song|%>
            <div class="card">
              <h2> <%= song.name %></h2>
              <%= simple_form_for [@playlist, @playlist_song] do |f| %>
                <%= f.hidden_field :song_id, value: song.id %>
                <%= f.submit %>
              <% end %>
            </div>
          <% end  %>
        </div>
      </section>
      <%= link_to "Surprise Me!",
        surprise_playlist_playlist_songs_path(@playlist),
        data: { turbo_frame: "playlist_content" },
        class: "btn btn-warning"
      %>
    </div>
  </main>
</turbo-frame>
