        <!-- search mode -->
<div class="home-screen">

<div class="playlist-header" style="position: relative;">
  <%# <h1 class="playlist-title" style="color: white"><%= playlist.name %></h1>
<%# <h2 class="playlist-subtitle" style="color: white"></h2> %>
<% if songs.any? %>
  <ul class="playlist-song-list">
    <% songs.each do |song| %>
      <li class="d-flex align-items-center"
              data-controller="spotify-player"
              data-spotify-player-uri-value="spotify:track:<%= song.spotify_id %>">
        <%= image_tag song.image_url, class: "img-thumbnail", style: "width: 60px; height: 60px;" %>
        <div class="flex-grow-1 text-center">
          <strong><%= song.name %></strong>
          — <%= song.artist %>
        </div>
        <button data-action="click->spotify-player#togglePlay"
          data-spotify-player-target="button"
          style="background: none; border: none; cursor: pointer; padding: 8px;">
          <i class="fa-solid fa-play"
              data-spotify-player-target="icon"
              style="color: #1DB954; font-size: 24px;"></i>
        </button>
        <div data-spotify-player-target="container" hidden></div>
        <%= simple_form_for PlaylistSong.new,
                  url: playlist_playlist_songs_path(playlist),
                  html: { class: "playlist-add-form mb-0" } do |f| %>
          <%= f.hidden_field :song_id, value: song.id %>
          <%= f.button :submit, "+",
                    class: "playlist-add-btn btn btn-light btn-sm",
                    style: "color: orange" %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No songs found.</p>
<% end %>
</div>
