<div class="container">
    <%= render "shared/search", playlist: @current_playlist %>
    <div class="stop mb-0">
      <%= link_to new_playlist_playlist_song_path(@current_playlist),
      class: "card-category card-category-recommend" do %>Recommend<% end %>
      <%= link_to playlists_path,
      class: "card-category card-category-playlists" do %>Playlists<% end %>
    </div>

    <div class="stop">
    <%= link_to "Stop & Delete", playlist_path(@current_playlist), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-info w-100" %>
    <%= link_to "Stop Singing", stop_singing_user_path(current_user), data: { turbo_method: :patch}, class: "btn btn-info w-100" %>
  </div>


  <div class="playlist-container" data-controller="swipe">
    <ul class="playlist-song-list">
    <% if @current_playlist.present? %>
      <ul class="mt-3">
        <% @current_playlist.playlist_songs.each do |playlist_song| %>
          <li>
            <strong><%= playlist_song.song.name %></strong>
            — <%= playlist_song.song.artist %>
            <i class="fa-solid fa-circle-check" data-action="click->swipe#hide" ></i>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No songs added yet! Search for one at the top or get one recommended</p>
    <% end %>
  </div>
  <div class="Stop">
    <% unless current_user.spotify_access_token %>
      <%= link_to 'Sign in with Spotify', '/auth/spotify', method: :post, class: "btn btn-warning" %>
    <% end %>
  </div>
</div>
