<div class="container">
  <%# <p> <%= render 'shared/search_form' %>
  <div class="recommendations">
    <%= link_to "Recommend",  new_playlist_playlist_song_path(@current_playlist), class: "btn btn-info" %>
    <%= link_to "Playlists", playlists_path, class: "btn btn-info" %>
  </div>
  <div class="playlist-container">
    <% if @current_playlist.present? %>
      <ul>
        <% @current_playlist.playlist_songs.each do |playlist_song| %>
          <li>
            <strong><%= playlist_song.song.title %></strong>
            — <%= playlist_song.song.artist %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No songs added yet! Search for one at the top or get one recommended</p>
    <% end %>
  </div>
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
</div>
<%= link_to 'Sign in with Spotify', '/auth/spotify', method: :post %>
