<div>
  <%# <p> <%= render 'shared/search_form' %>
  <div class="recommend-buttons">
    <div class="recommendations">
      <%= link_to "Recommend",  new_playlist_playlist_song_path(@current_playlist), class: "btn btn-info" %>
      <%= link_to "Playlists", playlists_path, class: "btn btn-info" %>
    </div>
  </div>
  <div class="Stop">
    <%# make turbo method to delete %>
    <%= link_to "Stop Singing and Delete", playlist_path(@current_playlist), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-warning" %>
    <%= link_to "Stop Singing", stop_singing_user_path(current_user), data: { turbo_method: :patch}, class: "btn btn-warning" %>
  </div>
  <div class="playlist-container" data-controller="swipe">
    <% if @current_playlist.present? %>
      <ul>
        <% @current_playlist.playlist_songs.each do |playlist_song| %>
          <li >
            <strong><%= playlist_song.song.name %></strong>
            — <%= playlist_song.song.artist %>
            <i class="fa-solid fa-circle-check" data-action="click->swipe#hide" ></i>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No songs added yet! Search for one at the top or get one recommended</p>
    <% end %>
    <%# </div> %>
    <%# <h1>Pages#home</h1> %>
    <%# <p>Find me in app/views/pages/home.html.erb</p> %>
    <%# </div> %>
    <%#  If the current user is already authenticated on Spotify, don't show %>
    <% unless current_user.spotify_access_token %>
      <%= link_to 'Sign in with Spotify', '/auth/spotify', method: :post %>
    <% end %>
