<%= render "shared/search", playlist: nil %>

<div class="container">
  <%= render "shared/search" %>
  <div class="modal fade " id="newPlaylistModal" tabindex="-1" aria-labelledby="newPlaylistModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bg-secondary">
        <div class="modal-header text-light">
          <h5 class="modal-title text-light" id="newPlaylistModalLabel">Make a new playlist!</h5>
          <button type="button" class="btn-close btn-light" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-light">
          <%= simple_form_for @playlist do |f| %>
            <%= f.input :name %>
            <%= f.submit 'Submit', class: 'btn btn-warning' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-info mb-4" data-bs-toggle="modal" data-bs-target="#newPlaylistModal">Make a new playlist!</button>
  <div class="playlist-container row g-4">
    <% @playlists.each do |playlist| %>
      <div class="col-6 h-100 playlist-card position-relative">
        <%= link_to playlist_path(playlist), class: "text-decoration-none" do %>
          <div class="playlist-card-image"></div>
          <div class="card-body">
            <h5 class="card-title text-white"><%= playlist.name %></h5>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
