<%= render "shared/search", playlist: @playlist %>
<div class="home-screen">
  <div class="playlist-container">

    <% if params[:query].present? %>
      <%= render "shared/search_results", playlist: @playlist, songs: @songs %>
    <% else %>
      <!-- not search yet  -->
      <h1 class="playlist-title text-white mb-3 text-center"><%= @playlist.name %></h1>
      <ul class="playlist-song-list">
        <% @playlist.playlist_songs.each do |playlist_song| %>
          <li class="playlist-song-row d-flex align-items-center">
            <%= image_tag playlist_song.song.image_url, class: "img-thumbnail me-3", style: "width: 60px; height: 60px; object-fit: cover;" %>
            <div class="flex-grow-1 text-center">
              <strong class="playlist-song-name"><%= playlist_song.song.name %></strong>
              <span class="playlist-song-artist"> — <%= playlist_song.song.artist %></span>
            </div>
            <i class="fa-solid fa-circle-check ms-3" data-action="click->swipe#hide"></i>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <%= render "playlist_buttons", playlist: @playlist %>
  <div>
