<div class="playlist-show-page">
  <div class="playlist-show-content">
    <%= render "shared/search", playlist: @playlist %>
    <div class="playlist-container">
      <% if params[:query].present? %>
        <%= render "shared/search_results", playlist: @playlist, songs: @songs %>
      <% else %>
        <div class="playlist-title-wrapper text-center mb-3" data-controller="marquee">
          <div class="song-info-scroll">
            <h1 class="playlist-title text-white d-inline-block m-0"><%= @playlist.name %></h1>
          </div>
        </div>
        <div class="song-cards-list">
          <% @playlist.playlist_songs.each do |playlist_song| %>
            <div class="song-card-browse">
              <div class="song-card-stack">
                <!-- Under-layer card (lighter grey) - tap for lyrics -->
                <%= link_to song_lyrics_path(playlist_song.song),
                    data: { turbo_stream: true },
                    class: "song-card-under" do %>
                  <span class="hint-center">Lyrics</span>
                <% end %>
                <!-- Main card (darker grey) -->
                <div class="song-card"
                     data-controller="song-text"
                     data-action="click->song-text#toggle">
                  <div class="song-card-image-wrapper">
                    <%= image_tag playlist_song.song.image_url, class: "song-card-image" %>
                    <div class="song-card-play-overlay"
                         data-controller="spotify-player"
                         data-spotify-player-uri-value="spotify:track:<%= playlist_song.song.spotify_id %>">
                      <button data-action="click->spotify-player#togglePlay"
                        data-spotify-player-target="button"
                        class="play-pause-btn-overlay">
                        <i class="fa-solid fa-play" data-spotify-player-target="icon"></i>
                      </button>
                      <div data-spotify-player-target="container" hidden></div>
                    </div>
                  </div>
                  <div class="song-card-info" data-song-text-target="info">
                    <span class="song-card-text" data-song-text-target="text"><%= playlist_song.song.name %></span>
                    <span class="song-card-text" data-song-text-target="text"><%= playlist_song.song.artist %></span>
                    <%= karaoke_availability_badges(playlist_song.song) %>
                  </div>
                  <div class="song-card-add">
                    <%= button_to playlist_playlist_songs_path(current_user.current_playlist_id),
                        params: { playlist_song: { song_id: playlist_song.song.id } },
                        method: :post,
                        class: "add-to-queue-btn",
                        data: { turbo: false } do %>
                      <i class="fa-solid fa-plus"></i>
                    <% end %>
                    <span class="add-text">Add!</span>
                  </div>
                  <% if current_user.current_playlist_id.present? %>
                    <%= button_to playlist_playlist_songs_path(current_user.current_playlist_id),
                        params: { playlist_song: { song_id: playlist_song.song.id } },
                        method: :post,
                        class: "add-to-queue-btn",
                        data: { turbo: false } do %>
                      <i class="fa-solid fa-plus"></i>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
          <% if @playlist.songs.any? %>
            <%= button_to playlist_path(@playlist),
                method: :delete,
                class: "playlist-delete-btn",
                data: { turbo: false },
                onclick: "return confirm('Are you sure you want to delete this playlist?')" do %>
              <i class="fa-solid fa-trash me-2"></i> Delete Playlist
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <%= render "playlist_buttons", playlist: @playlist %>
</div>
