<div class="playlist-show-page">
  <div class="playlist-show-content">
    <%= render "shared/search", playlist: @playlist %>
    <div class="playlist-container">
      <% if params[:query].present? %>
        <%= render "shared/search_results", playlist: @playlist, songs: @songs %>
      <% else %>
        <div class="playlist-title-wrapper text-center mb-3" data-controller="marquee">
          <div class="song-info-scroll">
            <h1 class="playlist-title text-white d-inline-block m-0"><%= @playlist.name %></h1>
          </div>
        </div>
        <ul class="playlist-song-list">
          <% @playlist.playlist_songs.each do |playlist_song| %>
            <div class="song-card-browse">
              <div class="song-card-stack">
                <!-- Under-layer card (lighter grey) - tap for lyrics -->
                <%= link_to song_lyrics_path(playlist_song.song),
                    data: { turbo_stream: true },
                    class: "song-card-under" do %>
                  <span class="hint-left">tap to view lyrics</span>
                  <span class="hint-right">tap + to add to karaoke session</span>
                <% end %>
                <!-- Main card (darker grey) -->
                <div class="song-card">
                  <%= image_tag playlist_song.song.image_url, class: "song-card-image" %>
                  <div class="song-card-info">
                    <span class="song-card-text"><%= playlist_song.song.artist %> - <%= playlist_song.song.name %></span>
                    <%= karaoke_availability_badges(playlist_song.song) %>
                  </div>
                  <div class="song-card-play"
                       data-controller="spotify-player"
                       data-spotify-player-uri-value="spotify:track:<%= playlist_song.song.spotify_id %>">
                    <button data-action="click->spotify-player#togglePlay"
                            data-spotify-player-target="button"
                            class="play-pause-btn">
                      <i class="fa-solid fa-play" data-spotify-player-target="icon"></i>
                    </button>
                    <div data-spotify-player-target="container" hidden></div>
                  </div>
                  <%= button_to playlist_playlist_songs_path(current_user.current_playlist_id),
                      params: { playlist_song: { song_id: playlist_song.song.id } },
                      method: :post,
                      class: "add-to-queue-btn",
                      data: { turbo: false } do %>
                    <i class="fa-solid fa-plus"></i>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <%= render "playlist_buttons", playlist: @playlist %>
</div>
