<!DOCTYPE html>
<html>
  <head>
    <title>MyKaraoke</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!-- PWA -->
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <!-- Favicon (tab icon) -->
    <link rel="icon" type="image/png" href="<%= image_path 'icons/mykaraoke.png' %>">
    <!-- iOS -->
    <link rel="apple-touch-icon" href="<%= image_path 'icons/mykaraoke.png' %>">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#000000">
  </head>
  <body>
    <div class="app-wrapper">
      <% unless current_page?(root_path) %>
        <%= render "shared/navbar" %>
      <% end %>
      <%= render "shared/flashes" %>
      <div class="app-content">
        <%= yield %>
      </div>
    </div>
    <script>
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("/service_worker.js")
          .then(() => console.log("SW registered"))
          .catch(err => console.log("SW failed:", err));
      }
    </script>
  </body>
</html>
